<div class='panel panel-default'>
    <div class='panel-heading'>Select file</div>
    <div class='panel-body'>
        <div class='form-group'>
            <select class='form-control' ng-options=''></select>
        </div>
        <div class='input-group input-group-separate'>
            <div class='progress'>
                <div class='progress-bar form-control' style='width: 60%;'>
                    <span>60%</span>
                </div>
            </div>
                <span class='input-group-btn'>
                    <button class='btn btn-success btn-sm'>Upload</button>
                </span>
        </div>
    </div>
</div>
