<div class='panel panel-default'>
    <div class='panel-heading'>Select file</div>
    <div class='panel-body'>
        <div class='form-group'>
            <select class='form-control' ng-options=''></select>
        </div>
        <div class='input-group input-group-separate'>
            <div class='progress progress-striped active'>
                <div class='progress-bar progress-bar-info' ng-style="{width: uploadProgress + '%'}">
                    <span>{{uploadProgress}}%</span>
                </div>
            </div>
            <span class='input-group-btn'>
                <button class='btn btn-success'>Upload</button>
            </span>
        </div>
    </div>
</div>
