<div class='panel panel-default'>
    <div class='panel-heading text-center'>Status</div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-xs-7'>
                <p><samp>Total lines</samp></p>
                <p><samp>Scraped</samp></p>
                <p><samp>Left</samp></p>
            </div>
            <div class='col-xs-5'>
                <p><samp class='text-primary'>{{totalLines || 0}}</samp></p>
                <p><samp class='text-success'>{{scrapedLines || 0}}</samp></p>
                <p><samp class='text-danger'>{{totalLines - scrapedLines}}</samp></p>
            </div>
        </div>
        <div class='clearfix'>
            <button class='btn btn-success btn-sm pull-left'>EXPORT</button>
            <button class='btn btn-warning btn-sm pull-right'>Show what is left</button>
        </div>
    </div>
</div>
